@model Ulaznice.com.Models.Karta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Karta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MjestoDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MjestoDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IzvođačiDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IzvođačiDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CijenaKarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CijenaKarte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
