@model Ulaznice.com.Models.Manifestacija

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Manifestacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Karta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Karta.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisKupnjeKarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisKupnjeKarte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NacinPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NacinPlacanja.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NagradnaIgra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NagradnaIgra.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlobodnaMjesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlobodnaMjesta.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeOdržavanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeOdržavanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tip)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
