@model Ulaznice.com.Models.Manifestacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manifestacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Karta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Karta.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisKupnjeKarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisKupnjeKarte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NacinPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NacinPlacanja.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NagradnaIgra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NagradnaIgra.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlobodnaMjesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlobodnaMjesta.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeOdržavanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeOdržavanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tip)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator")) {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <nobr>|</nobr>
    }
    <a asp-action="Index">Back to List</a>
</div>
