@model IEnumerable<Ulaznice.com.Models.Manifestacija>

@{
    ViewData["Title"] = "MANIFESTACIJE";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Karta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpisKupnjeKarte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NacinPlacanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NagradnaIgra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Legenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlobodnaMjesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeOdržavanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Karta.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisKupnjeKarte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NacinPlacanja.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NagradnaIgra.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Legenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlobodnaMjesta.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeOdržavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
               @if (User.IsInRole("Administrator"))
                {
                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <nobr>|</nobr>
                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <nobr>|</nobr>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5457/kako-i-zato-ubiti-mua" class="image">
<img src="/img/sd2/262x150/usr/karte/kakobkctuzweb.jpg">
<div class="date">16/06</div>
</a>
<a href="/karte/event/5457/kako-i-zato-ubiti-mua" class="name">KAKO I ZAŠTO UBITI MUŽA</a>
<div class="location">BKC - TUZLA</div>
</div>
</div>
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5390/sunset-festival" class="image">
<img src="/img/sd2/262x150/usr/karte/sunsetweb.jpg">
<div class="date">17 - 18/06</div>
</a>
<a href="/karte/event/5390/sunset-festival" class="name">SUNSET FESTIVAL</a>
<div class="location">LAZIC HILL - TUTNJEVAC</div>
</div>
</div>
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5420/lapsus-band" class="image">
<img src="/img/sd2/262x150/usr/karte/lapsusweb.jpg">
<div class="date">17/06</div>
</a>
<a href="/karte/event/5420/lapsus-band" class="name">LAPSUS BAND</a>
<div class="location">Konoba Kastel</div>
</div>
</div>
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5450/edo-maajka" class="image">
<img src="/img/sd2/262x150/usr/karte/edomajkaweb.jpg">
<div class="date">17/06</div>
</a>
<a href="/karte/event/5450/edo-maajka" class="name">EDO MAAJKA</a>
<div class="location">SARTR</div>
</div>
</div>
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5372/spike-fest" class="image">
<img src="/img/sd2/262x150/usr/karte/spikeweb.jpg">
<div class="date">17/06</div>
</a>
<a href="/karte/event/5372/spike-fest" class="name">SPIKE FEST</a>
<div class="location">GRADSKA DVORANA VITEZ</div>
</div>
</div>
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5381/denan-lonarevi" class="image">
<img src="/img/sd2/262x150/usr/karte/lon850x370.jpg">
<div class="date">18/06</div>
</a>
<a href="/karte/event/5381/denan-lonarevi" class="name">Dženan Lončarević</a>
<div class="location">Sky Summer Stage</div>
</div>
</div>
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5440/borba-zmajeva" class="image">
<img src="/img/sd2/262x150/usr/karte/borbazmajeva_banner.jpg">
<div class="date">18/06</div>
</a>
<a href="/karte/event/5440/borba-zmajeva" class="name">BORBA ZMAJEVA</a>
<div class="location">Kolodvorska 12</div>
</div>
</div>
<div class="col-md-3">
<div class="event clearfix">
<a href="/karte/event/5428/vlatko-stefanovski-miroslav-tadi" class="image">
<img src="/img/sd2/262x150/usr/karte/vlatkoblweb.jpg">
<div class="date">20/06</div>
</a>
<a href="/karte/event/5428/vlatko-stefanovski-miroslav-tadi" class="name">VLATKO STEFANOVSKI &amp; MIROSLAV TADIĆ</a>
<div class="location">Tvrđava Kastel</div>
</div>
</div>
</div>

