@model IEnumerable<Ulaznice.com.Models.SlobodnaMjesta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrojSlobodnihMjesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojMjesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrikazMjesta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSlobodnihMjesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojMjesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrikazMjesta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
