@model Ulaznice.com.Models.Lokacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lokacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MjestoDogađaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MjestoDogađaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaŠirina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaŠirina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaDužina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaDužina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisMjesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisMjesta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
