@model Ulaznice.com.Models.NagradnaIgra

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NagradnaIgra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisNagradneIgre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisNagradneIgre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nagrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nagrada.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformacijeODobitniku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformacijeODobitniku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poruka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poruka.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
