@model Ulaznice.com.Models.NagradnaIgra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NagradnaIgra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisNagradneIgre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisNagradneIgre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nagrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nagrada.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformacijeODobitniku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformacijeODobitniku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poruka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poruka.Id)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator")) {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <nobr>|</nobr>
    }
    <a asp-action="Index">Back to List</a>
</div>
